// основные размеры текста
$basefont = 13px;
$bigfont = 16px;
$smallfont = 11px;

$baseline = $basefont * 1.6; // золотое сечение, ептить
$gutterWidth = 20px; // стандартное расстояние в мультиколонках

$regular = Tahoma, Arial, sans-serif;
$italic = Arial, sans-serif;
$bold = Tahoma, Arial, sans-serif;

$titleFamily = Georgia, Times, serif; // заголовки

// повышаем читабельность основных цветов
$white = #fff;
$black = #000;
$gray = lighten($black, 70);
$red = #ff0000;
$pink = #ff00cc;
$violet = #cc00ff;
$blue = #0000ff;
$green = #00ff33;
$yellow = #ffff00;
$orange = #ff9900;

// цвет текста
$textColor = #444;
$placeholderColor = lighten($black, 30);

// задаем цвет ссылок
$linkColor = #0000ff;
$linkColorHover = $red;
$linkColorActive = darken($red, 25);
$linkColorVisited = #9C00D6;

// цвет фона выделения текста на странице
$selectionColor = #b4d5fe;


// ширина
$fixedWidth = 980px;

// высота подвала
$footerHeight = 150px;


// настройки форм
$form-bgc = $white;
$form-bdc = $gray;
$form-c = #444;
$form-focus = #ee5f5b;
