/*
	Separated file require for include files require sequence
	And for another tasty things ;)
*/

// base blocks
@import "basic/_base.styl"; // variables and function for project
@import "basic/_mixins.styl"; // general function
@import "basic/_reset.styl"; // reset

@import "basic/_includes.styl"; // i-styles
@import "basic/_forms.styl"; // forms, buttons
@import "basic/_template.styl"; // template style
