<li class="task js-task" data-task_id="[%--task_id--%]">
	<label class="js-checkbox">
		<div class="task__left">
			<input type="checkbox" class="checkbox__elem js-checkbox__elem js-task-check" [%--task_checked--%]>
			<i class="js-checkbox__img checkbox__img task__checkbox [%--task_checked_style--%]"></i>
		</div>
		<div class="task__center js-task-content">
			[%--task_content--%]
		</div>
		<div class="task__right">
			<a class="task__right__item task__right__edit js-edit-task"></a>
			<a class="task__right__item task__right__delete js-delete-task"></a>
		</div>
	</label>
</li>