<!DOCTYPE html>
<html>
<head>
	<title>Ruby Garage</title>
	<link rel="stylesheet" href="css/start.css">

	<script type="text/javascript" src="../static/jquery.js"></script>
	<script type="text/javascript" src="../static/functions.js"></script>

	<!--[if lt IE 9]>
		<script src="dist/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

	<div id="wrapper">

		<header class="header">
			<span class="header__h1">Simple TODO LISTS</span>
			<span class="header__h2">From Ruby Garage</span>
		</header>

		<div class="js-projects">
			<div class="project__nothing js-no-projects">
				<span class="project__nothing__text">No projects here. Add some!</span>
			</div>
			<!--<div class="project js-project">
				<div class="project__header">
					<div class="project__header__calendar"></div>
					<span class="project__header__title">Complete the test task for ruby garage</span>
					<div class="project__header__right">
						<button class="project__header__right__item js-edit-project"></button>
						<button class="project__header__right__item js-delete-project"></button>
					</div>
				</div>
				<div class="project__new-task">
					<div class="project__new-task__plus"></div>
					<input type="text" placeholder="Input task" class="project__new-task__field js-new-task-value">
					<button class="project__new-task__button js-new-task-add">Add Task</button>
				</div>
				<div class="project__tasks js-tasks">
					<div class="task js-task">
						<label class="js-checkbox">
							<div class="task__left">
									<input type="checkbox" class="checkbox__elem js-checkbox__elem js-task-check">
									<i class="js-checkbox__img checkbox__img task__checkbox"></i>
								<div class="task__two-lines"></div>
							</div>
							<div class="task__center">
								My tast lsdkahsd sdhjbdiu iru nrejn ujrn funuif nuerin riu niuen euirneuine
								My tast lsdkahsd sdhjbdiu iru nrejn ujrn funuif nuerin riu niuen euirneuine
								My tast lsdkahsd sdhjbdiu iru nrejn ujrn funuif nuerin riu niuen euirneuine
							</div>
							<div class="task__right">
								<div class="task__right__item">A</div>
								<div class="task__right__item">B</div>
								<div class="task__right__item">C</div>
							</div>
						</label>
					</div>
					<div class="task js-task">
						<label class="js-checkbox">
							<div class="task__left">
									<input type="checkbox" class="checkbox__elem js-checkbox__elem js-task-check">
									<i class="js-checkbox__img checkbox__img task__checkbox"></i>
							</div>
							<div class="task__center">
								My tast lsdkahsd sdhjbdiu iru nrejn ujrn funuif nuerin riu niuen euirneuine
							</div>
							<div class="task__right">
								<div class="task__right__item">A</div>
								<div class="task__right__item">B</div>
								<div class="task__right__item">C</div>
							</div>
						</label>
					</div>
				</div>
			</div>
			<div class="project js-project">
				<div class="project__header">
					<div class="project__header__calendar"></div>
					<span style="display:none" class="project__header__title">Complete the test task for ruby garage </span>
					<input class="project__header__title project__header__title__edit" type="text" value="Complete the test task for ruby garage Complete the test task for ruby garage Complete the test task for ruby garage">
					<div class="project__header__right">
						<button class="project__header__right__item js-edit-project"></button>
						<button class="project__header__right__item js-delete-project"></button>
					</div>
				</div>
				<div class="project__new-task">
					<div class="project__new-task__plus"></div>
					<input type="text" placeholder="Input task" class="project__new-task__field js-new-task-value">
					<button class="project__new-task__button js-new-task-add">Add Task</button>
				</div>
				<div class="project__tasks js-tasks">
					<div class="task js-task">
						<label class="js-checkbox">
							<div class="task__left">
								<input type="checkbox" class="checkbox__elem js-checkbox__elem js-task-check">
								<i class="js-checkbox__img checkbox__img task__checkbox"></i>
								<div class="task__two-lines"></div>
							</div>
							&lt;!&ndash;<div class="task__center">&ndash;&gt;
							<form class="task__center">
								<textarea class="task__center__textarea js-task-edit-textarea">
									My tast lsdkahsd sdhjbdiu iru nrejn ujrn funuif nuerin riu niuen euirneuine
									My tast lsdkahsd sdhjbdiu iru nrejn ujrn funuif nuerin riu niuen euirneuine
									My tast lsdkahsd sdhjbdiu iru nrejn ujrn funuif nuerin riu niuen euirneuine
								</textarea>
							</form>
							&lt;!&ndash;</div>&ndash;&gt;
							<div class="task__right">
								<div class="task__right__item">A</div>
								<div class="task__right__item">B</div>
								<div class="task__right__item">C</div>
							</div>
						</label>
					</div>
					<div class="task js-task">
						<label class="js-checkbox">
							<div class="task__left">
								<input type="checkbox" class="checkbox__elem js-checkbox__elem js-task-check">
								<i class="js-checkbox__img checkbox__img task__checkbox"></i>
							</div>
							<div class="task__center">
								My tast lsdkahsd sdhjbdiu iru nrejn ujrn funuif nuerin riu niuen euirneuine
							</div>
							<div class="task__right">
								<div class="task__right__item">A</div>
								<div class="task__right__item">B</div>
								<div class="task__right__item">C</div>
							</div>
						</label>
					</div>
				</div>
			</div>-->
		</div>
		<footer class="footer">
			<button class="project__add js-add-project">Add TODO List</button>
		</footer>
	</div>

</body>
</html>